* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Mountains of Christmas", cursive;
  overflow: hidden;
}
html::after,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: #6ce19b;
  opacity: 0.6;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20vw;
  color: rgba(255, 255, 255, 0.12);
  mix-blend-mode: overlay;
  user-select: none;
}

.instructions {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 7vw;
  color: white;
  user-select: none;
  z-index: 1;
}

.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 20px;
}

.shine {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  width: 50vw;
  height: auto;
  transform: translate3d(-50%, -50%, 0) rotateY(0) rotateX(0) scale(0);
  transition: all 3s ease-out 0.5s;
  user-select: none;
}
.gift {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  width: 20vw;
  height: auto;
  transform: translate3d(-50%, -50%, 0) rotateY(0) rotateX(0) scale(0);
  transition: all 3s ease-out 0.5s;
  user-select: none;
}

.present {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  cursor: pointer;
  perspective: 600px;
  transform: translateY(-50%);
  z-index: 1;
}

.wiggle-container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: bottom;
}


.present.animate .wiggle-container {
  animation: wiggle 0.3s ease 0s 1 normal forwards;
}

@keyframes wiggle {
  0% {
    transform: translateX(0) rotateX(0);
  }
  25% {
    transform: translateX(calc(var(--count) * -1px)) rotateX(calc(var(--count) * 1deg));
  }
  50% {
    transform: translateX(0) rotateX(0);
  }
  75% {
    transform: translateX(calc(var(--count) * 1px)) rotateX(calc(var(--count) * -1deg));
  }
  100% {
    transform: translateX(0) rotateX(0);
  }
}
.rotate-container {
  height: 100%;
  transform: rotateY(170deg);
  transform-style: preserve-3d;
  animation: present-rotate 30s infinite linear;
}

@keyframes present-rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.bottom,
.front,
.left,
.back,
.right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius:10px;
}

.bottom {
  transform: translateY(50%) rotateX(90deg);
}

.front,
.left,
.back,
.right {
  transition: transform 1s ease-out 3s;
  transform-origin: bottom;
  transform-style: preserve-3d;
}

.front:after,
.left:after,
.back:after,
.right:after,
.lid-top:after,
.lid-front:after,
.lid-left:after,
.lid-back:after,
.lid-right:after {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  width: 20px;
  height: 100%;
  background-color: orange;
  transform: translateZ(0.1px);
}

.lid-top:before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 100%;
  height: 20px;
  background-color: white;
  transform: translateZ(0.1px);
}

.left {
  transform: translateX(-50%) rotateY(-90deg);
}

.back {
  transform: translateZ(-100px) rotateY(180deg) rotateX(0);
}

.right {
  transform: translateX(50%) rotateY(90deg);
}

.front {
  transform: translateZ(100px);
}

.lid {
  animation: lid-animation 3.5s 1s infinite;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transition: transform 1s ease-out 3s;
}

@keyframes lid-animation {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0);
  }
  5% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  10% {
    transform: translate3d(0, -10px, 5px) rotateX(-5deg);
  }
  15% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  20% {
    transform: translate3d(0, -10px, 5px) rotateX(-5deg);
  }
  25% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  30% {
    transform: translate3d(0, 0, 0) rotateX(0);
  }
}
.lid-top,
.lid-left,
.lid-back,
.lid-right,
.lid-front {
  position: absolute;
  top: 0;
  left: -5px;
  width: 210px;
  background-color: red;
  opacity: 1;
}

.lid-top {
  top: -5px;
  height: 210px;
  transform: translateY(-50%) rotateX(90deg);
  transform-style: preserve-3d;
}

.lid-left,
.lid-back,
.lid-right,
.lid-front {
  top: -5px;
  height: 40px;
  transform-style: preserve-3d;
}

.lid-left {
  transform: translateX(-50%) rotateY(-90deg);
}

.lid-back {
  transform: translateZ(-105px) rotateY(180deg);
}

.lid-right {
  transform: translateX(50%) rotateY(90deg);
}

.lid-front {
  transform: translateZ(105px);
}

.present:hover .lid {
  animation: none;
}
.name {
  font-size: 4em;
  font-weight: 100;
  position: absolute;
  text-align: center;
  text-shadow: -3px 3px 0 rgba(229, 206, 129, 0.5);
  top: 50%;
  transform: translate3d(0, -50%, 0) rotateY(0) rotateX(0);
  transition: transform 2.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  width: 100%;
}

.present.open {
  cursor: default;
}
.present.open .name {
  transform: translate3d(0, -50%, 10px) rotateY(1080deg) rotateX(10deg);
}
.present.open .shine {
  animation: zoomIn 2s forwards, spin 2s infinite linear;
}
.present.open .gift {
  animation: wiggle2 2s ease-in-out infinite both;
}
@keyframes wiggle2 {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(-5deg);
  }
  50% {
    transform: translate(-50%, -50%) scale(1) rotate(5deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(-5deg);
  }
}

@keyframes zoomIn {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(0.5);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.present.open .wiggle-container {
  animation: none;
}
.present.open .left {
  transform: translateX(-50%) rotateY(-90deg) rotateX(-90deg);
}
.present.open .back {
  transform: translateZ(-100px) rotateY(180deg) rotateX(-90deg);
}
.present.open .right {
  transform: translateX(50%) rotateY(90deg) rotateX(-90deg);
}
.present.open .front {
  transform: translateZ(100px) rotateX(-90deg);
}
.present.open .lid {
  animation: none;
  transform: translate3d(0, -120px, -120px) rotateX(50deg);
}
.present.open .front,
.present.open .left,
.present.open .back,
.present.open .right,
.present.open .lid {
  transition: transform 0.5s ease-out;
}


.neon-text {
    color: #e772e7;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff00ff, 0 0 25px #ff00ff;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-text {
    font-size: 80px;
    margin: 0;
}

.sub-text {
    font-size: 40px;
    color: #00ffff;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
    margin: 0;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Neon Glow Effect */
.wiggle-container .bottom,
.wiggle-container .front,
.wiggle-container .left,
.wiggle-container .back,
.wiggle-container .right,
.wiggle-container .lid,
.wiggle-container .lid-top,
.wiggle-container .lid-front,
.wiggle-container .lid-left,
.wiggle-container .lid-back,
.wiggle-container .lid-right {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8),
              0 0 40px rgba(255, 255, 255, 0.8), 0 0 50px rgba(255, 255, 255, 0.8),
              0 0 60px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.animate2 {
    animation: shake 3s ease infinite; /* Perpanjang durasi menjadi 3 detik dan berulang secara tak terbatas */
  }
  @keyframes shake {
    0% { transform: translateX(0) rotate(0deg); } /* Tidak ada perubahan pada awal */
    10% { transform: translateX(-20px) rotate(-5deg); } /* Pergeseran ke kiri */
    20% { transform: translateX(20px) rotate(5deg); } /* Pergeseran ke kanan */
    30% { transform: translateX(-20px) rotate(-5deg); } /* Pergeseran ke kiri */
    40% { transform: translateX(20px) rotate(5deg); } /* Pergeseran ke kanan */
    50% { transform: translateX(-20px) rotate(-5deg); } /* Pergeseran ke kiri */
    60% { transform: translateX(20px) rotate(5deg); } /* Pergeseran ke kanan */
    70% { transform: translateX(-20px) rotate(-5deg); } /* Pergeseran ke kiri */
    80% { transform: translateX(20px) rotate(5deg); } /* Pergeseran ke kanan */
    90% { transform: translateX(-20px) rotate(-5deg); } /* Pergeseran ke kiri */
    100% { transform: translateX(0) rotate(0deg); } /* Kembali ke posisi awal */
  }

  .curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 500%;
    /* background-color: red; */
    background-image: url("bg.png");
    background-size: ;
    z-index: 1000;
    transition: transform 2s ease;
}

.curtain-left {
    transform: translateX(0);
}

.curtain-right {
    transform: translateX(0);
    left: 50%;
}

.curtain.open-left {
    transform: translateX(-100%);
}

.curtain.open-right {
    transform: translateX(100%);
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.content h1 {
    text-align: center;
    margin-top: 50px;
}
.logo{
  width: 300px !important;
}

@media (max-width: 995px) {
  .logo{
  width: 500px !important;

  }
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Sesuaikan dengan kebutuhan Anda */
  width: 400px;
}

.open-again-btn {
  background-color: red; /* Green background */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.claim-btn {
  background-color: #07b01f; /* Green background */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
}


@media (max-width: 995px) {
  footer {
    position: fixed;
    bottom: 15%;
    right: 30%;
    z-index: 1000; /* Sesuaikan dengan kebutuhan Anda */
  }

  .open-again-btn {
    background-color: red; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .claim-btn {
    background-color: #07b01f; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
  }
  
}

.coins {
  position: absolute;
    top: 30px;
    left: 30px;
    background-color: white;
    padding: 5px 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
    z-index: 1;
}
.media {
  position: absolute;
    top: 100px;
    left: 30px;
    background-color: white;
    padding: 5px 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    z-index: 999;
}

@media (min-width: 700px) {
  .coins {
    position: absolute;
      top: 30px;
      left: 30px;
      background-color: white;
      padding: 5px 20px;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 32px;
      font-weight: bold;
      border-radius: 20px;
      z-index: 1;
  }
  .media {
    position: absolute;
      top: 100px;
      left: 30px;
      background-color: white;
      padding: 5px 15px;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 24px;
      font-weight: bold;
      border-radius: 20px;
      z-index: 999;
  }
}